.userId {
    opacity: .8;
    font-size: .8em !important;
    font-weight: bold !important;
}

.buttonGroup {
    display: flex;
    position: absolute;
    right: 0%;
}

.editBtn {
    padding-right:8%
}